In [1]:
import matplotlib.pyplot as plt
import pandas as pd

df_prec = pd.read_csv('Precipitação_coimbra.csv')

df_prec

          date    minimum    maximum      range       mean       std
0   2021-01-30   8.700006  11.444733   2.744727   9.172954  0.564608
1   2021-02-01   2.567557   4.642728   2.075171   4.233779  0.302040
2   2021-02-02   1.206398   4.369296   3.162898   2.353047  0.520955
3   2021-02-03   5.090485   8.743361   3.652877   5.875230  0.608710
4   2021-02-04   0.000020   1.801145   1.801124   0.441124  0.342296
..         ...        ...        ...        ...        ...       ...
80  2021-04-24   0.715430   4.216523   3.501093   1.931542  0.537566
81  2021-04-25  21.600065  32.322887  10.722822  23.854709  2.240275
82  2021-04-26   1.627104   9.099984   7.472880   7.813742  1.678053
83  2021-04-27   0.000001   0.158754   0.158753   0.024669  0.025585
84  2021-04-28   0.200020   1.637233   1.437213   0.487878  0.254882

[85 rows x 6 columns]

### *Primeiras 5 linhas do conjunto de dados*

In [2]:
df_prec.head()

         date   minimum    maximum     range      mean       std
0  2021-01-30  8.700006  11.444733  2.744727  9.172954  0.564608
1  2021-02-01  2.567557   4.642728  2.075171  4.233779  0.302040
2  2021-02-02  1.206398   4.369296  3.162898  2.353047  0.520955
3  2021-02-03  5.090485   8.743361  3.652877  5.875230  0.608710
4  2021-02-04  0.000020   1.801145  1.801124  0.441124  0.342296

### *Últimas 5 linhas do conjunto de dados*

In [3]:
df_prec.tail()

          date    minimum    maximum      range       mean       std
80  2021-04-24   0.715430   4.216523   3.501093   1.931542  0.537566
81  2021-04-25  21.600065  32.322887  10.722822  23.854709  2.240275
82  2021-04-26   1.627104   9.099984   7.472880   7.813742  1.678053
83  2021-04-27   0.000001   0.158754   0.158753   0.024669  0.025585
84  2021-04-28   0.200020   1.637233   1.437213   0.487878  0.254882

## *Definição da coluna "date" como coluna principal para ser mais fácil a busca de dados*

In [4]:
df_date = df_prec.set_index("date")

df_date.head()

             minimum    maximum     range      mean       std
date
2021-01-30  8.700006  11.444733  2.744727  9.172954  0.564608
2021-02-01  2.567557   4.642728  2.075171  4.233779  0.302040
2021-02-02  1.206398   4.369296  3.162898  2.353047  0.520955
2021-02-03  5.090485   8.743361  3.652877  5.875230  0.608710
2021-02-04  0.000020   1.801145  1.801124  0.441124  0.342296

### *linha do dia '21 de Fevereiro de 2021'*

Todas as datas têm um formato **'ano-mês-dia'**.
Separados por hifens '-'.
Devem, portanto, ser escritas desta forma, sempre que for necessario acessar á linha do dia pretendido.

In [5]:
#variavel com o valor que se quer, neste caso a data
fevereiro21 = ['2021-02-21']

#bloquear a linha que contem o valor que se pretende 
df_date.loc[fevereiro21]

              minimum    maximum      range      mean       std
date
2021-02-21  14.800058  25.582304  10.782246  16.25874  1.700256

#### Aqui começamos um conjunto de questões que, cujas respostas tratarão os conjuntos de dados mais relevantes!

### *Quais os períodos sem precipitação( intervalo de dias)?*

In [6]:
#variavel com o valor que se quer dentro da coluna 'mean' 
no_precipitação = df_date['mean']==0

#bloquear todas as linhas que tenham o valor pretendido 
df_date.loc[no_precipitação]

            minimum  maximum  range  mean  std
date
2021-02-27      0.0      0.0    0.0   0.0  0.0
2021-03-02      0.0      0.0    0.0   0.0  0.0
2021-03-08      0.0      0.0    0.0   0.0  0.0
2021-03-09      0.0      0.0    0.0   0.0  0.0
2021-03-10      0.0      0.0    0.0   0.0  0.0
2021-03-16      0.0      0.0    0.0   0.0  0.0
2021-03-17      0.0      0.0    0.0   0.0  0.0
2021-03-18      0.0      0.0    0.0   0.0  0.0
2021-03-19      0.0      0.0    0.0   0.0  0.0
2021-03-20      0.0      0.0    0.0   0.0  0.0
2021-03-22      0.0      0.0    0.0   0.0  0.0
2021-03-27      0.0      0.0    0.0   0.0  0.0
2021-03-28      0.0      0.0    0.0   0.0  0.0
2021-03-30      0.0      0.0    0.0   0.0  0.0
2021-03-31      0.0      0.0    0.0   0.0  0.0
2021-04-18      0.0      0.0    0.0   0.0  0.0

### *Qual o dia com maior precipitação?*

In [7]:
#definir a coluna de media como lista 
mediaList = df_date['mean'].tolist()

#procurar o valor maior 
#print('Dia com maior precipitação: ', max(mediaList))

#com o valor maior, bloqueamos a linha que lhe corresponde para obtermos o dia 
max_precipitação = df_date['mean']== max(mediaList)

df_date.loc[max_precipitação]

              minimum   maximum     range       mean       std
date
2021-02-20  35.770424  40.29998  4.529556  39.584473  0.706598

### *Qual a maior variação(amplitude) entre mínimo e máximo?*

In [8]:
#variável max vai ser igual ao indíce que represente o maior valor da coluna "range"
#como foi usado df_date o indice vai ser igual ao dia
max = (df_date['range'].idxmax())

#variável max_index vai fazer a mesma coisa mas por usar o df_prec vai representar o número da fila
max_index = (df_prec['range'].idxmax())

print("A data com maior variação de amplitude foi a:",(max))

print("E a variação foi de:",(df_prec.iloc[max_index,3]))

A data com maior variação de amplitude foi a: 2021-04-10
E a variação foi de: 21.651114463800003

### *Qual o maior mínimo e maior máximo?*

In [10]:
#definir os valores das colunas em listas
maximoList = df_date ['maximum'].tolist()
minimoList = df_date ['minimum'].tolist()

#maximo das listas
print('Maior minimo de precipitação: ', max(minimoList))
print('Maior maximo de precipitação: ', max(maximoList))

TypeError: 'str' object is not callable

### *Qual a data com maior desvio padrão(mais longe da previsão)?*

In [ ]:
#variável max vai ser igual ao indíce que represente o maior valor da coluna "std"
#como foi usado df_date o indice vai ser igual ao dia
max = (df_date['std'].idxmax())

#variável max_index vai fazer a mesma coisa mas por usar o df_prec vai representar o número da fila
max_index = (df_prec['std'].idxmax())

print("A data com maior desvio padrão ocorreu em : ",(max))
print("E o desvio foi correspondente a:",(df_prec.iloc[max_index,5]))

### *Gráfico com os valores de minimo e máximo de percipitação do mês de Março*

In [ ]:
#definição de valores X
df_marco=df_prec['date'].between('2021-03', '2021-04', inclusive=True)
marco = df_prec[df_marco]

marcoList = marco['date'].tolist()

#definição de listas para valores de y
maximoList = marco['maximum'].tolist()
minimoList = marco['minimum'].tolist()

plt.plot(marcoList, maximoList, label= 'Valores Maximos', linewidth=3)
plt.plot(marcoList, minimoList, label= 'Valores Minimos', linewidth = 3)

#lebels 
plt.xticks(rotation=45)
plt.xlabel('Março')
plt.ylabel('valores de Precipitação em mm')
plt.title ('Precipitação em Coimbra no mês de Março de 2021')
plt.legend(loc='upper right')

plt.show()

### *Analisando os dados, neste período de tempo qual foi a percentagem de dias de chuva?*

In [ ]:
#todos os valores maiores que 0
df_dados = df_prec[(df_prec['mean'] > 0)]

#variavel total que é todo o comprimento da coluna 'mean', quantos indices têm os dados 
total = df_prec.index.size
#variavel df_chuva com todo o comprimento da variavel com valores maiores que 0 (df_dados)
df_chuva = df_dados.index.size

#prec é a variavel que calcula a percentagem 
#valores maiores que 0 multiplica por 100 e divide pelo total de todos os valores
prec = (df_chuva * 100)/(total)

print("No período de tempo registado, a percentagem de dias de chuva foi:", prec,"%")

### *Analisando os dados, neste período de tempo qual foi a percentagem de dias sem chuva?*

In [ ]:
#todos os valores iguais a 0
df_dados = df_prec[(df_prec['mean'] == 0)]

#variavel total que é todo o comprimento da coluna 'mean'
total = df_prec.index.size
#variavel df_semchuva com todo o comprimento da variavel com valores iguais a 0 (df_dados)
df_semchuva = df_dados.index.size

#sem_prec é a variavel que calcula a percentagem 
#total dos valores iguais a 0 multiplica por 100 e divide pelo total de todos os valores
sem_prec = (df_semchuva * 100)/(total)

print("No período de tempo registado, a percentagem de dias de chuva foi:", sem_prec,"%")

### *Gráfico de percentagem de dias com e sem precipitação*

In [ ]:
#definir os dados para inserir no grafico
ListaTotal = [prec, sem_prec]
Labels = ['Com Precipitação','Sem Precipitação']

#definir o grafico (dados, labels, percentagem)
plt.pie(ListaTotal, labels=Labels, autopct="%0.0f %%")

#labels do grafico
plt.title('Percentagens de dias com e sem Precipitação de janeiro a Abril de 2021')
plt.legend(loc='upper right')
plt.axis("equal")

#mostrar o grafico
plt.show()

### *Gráfico da precipitação média em Coimbra nos meses de Janeiro a Abril*

In [ ]:
#Definir o eixo X
df_jan=df_prec['date'].between('2021-01', '2021-02', inclusive=True)
jan = df_prec[df_jan]
df_janmedia = jan["mean"]
mediajan = df_janmedia.mean()

df_fev=df_prec['date'].between('2021-02', '2021-03', inclusive=True)
fev = df_prec[df_fev]
df_fevmedia = fev['mean']
mediafev = df_fevmedia.mean()

df_marco=df_prec['date'].between('2021-03', '2021-04', inclusive=True)
marco = df_prec[df_marco]
df_marcomedia = marco['mean']
mediamarco = df_marcomedia.mean()

df_abr=df_prec['date'].between('2021-04', '2021-05', inclusive=True)
abr = df_prec[df_abr]
df_abrmedia = abr['mean']
mediaabr = df_abrmedia.mean()

medias = [mediajan,mediafev,mediamarco,mediaabr]

# Definir o eixo Y
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril']

#grafico de barras horizontais 
plt.barh(meses, medias)

#Labels
plt.ylabel("Meses do ano")
plt.xlabel("valores médios de Precipitação (em mm)")
plt.title("Precipitação em coimbra nos meses de Janeiro a Abril de 2021")

plt.show()